/* src/App.css in your React project */
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

h1,
p {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
  margin-bottom: 6px;
}

.App {
  text-align: center;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px 0px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: calc(100vh - 48px - 68px - 40px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  margin: 10px;
  padding: 10px;
  width: 80%;
  background-color: pink;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.header,
.bookmarklet-container {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarklet-container{
  justify-content: center;
}

.bookmarklet-generator {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  display: flex; /* Add this */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.bookmarklet-guide p{
  font-size: 28px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  padding-bottom: 10px;
}

.bookmarklet {
  height: 80%;
  width: 200px;
  background-color: #78716c;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex; /* Align items in a flex container */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-evenly;
}

.bookmarklet h2{
  font-size: 28px;
  color: inherit;
  font-weight: 600;
  font-family: "Coiny", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookmarklet p{
  font-size: 18px;
  color: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.category {
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 20px 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: block; 
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
  -webkit-transform: scale(110%) rotate(-2deg);
  -moz-transform: scale(110%) rotate(-2deg);
  -ms-transform: scale(110%) rotate(-2deg);
  -o-transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 30px;
  padding: 20px 32px 17px;
}

.btn-back {
  margin-bottom: 16px;
}

.btn-copy {
  padding: 16px 20px 13px;
  width: 90%;
  margin-top: 5px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

section {
  overflow: scroll;
  padding-bottom: 40px;
}

.link {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}

.links-section p {
  font-family: inherit;
  font-size: 16px;
}


@media (max-width: 1200px) {
  .link {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3.s;
  -webkit-transition: 0.3.s;
  -moz-transition: 0.3.s;
  -ms-transition: 0.3.s;
  -o-transition: 0.3.s;
}
.source:hover,
.source:active {
  color: #3b82f6;
}

.color-picker {
  display: flex;
  gap: 10px; /* Adjust the gap between circles as needed */
}

.color-circle {
  width: 30px; /* Size of the circle */
  height: 30px; /* Size of the circle */
  border-radius: 50%; /* Make it round */
  cursor: pointer;
  border: 2px solid transparent; /* For the selection effect */
}

.color-circle.selected {
  border-color: black; /* Highlight the selected color */
}